# XGD LLM Settings
XGD_LLM_API_KEY=
XGD_LLM_BASE_URL=

# Selection Speaker Settings
SELECTION_SPEAKER_SHORTCUT=Ctrl+Shift+0
SELECTION_SPEAKER_MAX_INPUT_LENGTH=600
SELECTION_SPEAKER_API_KEY=
SELECTION_SPEAKER_BASE_URL=
SELECTION_SPEAKER_MODEL=qwen-omni
## Ethan/Chelsie/Aiden
SELECTION_SPEAKER_VOICE=Chelsie 

# Selection Assistant Settings
SELECTION_ASSISTANT_SHORTCUT=Ctrl+Shift+9
SELECTION_ASSISTANT_API_KEY=
SELECTION_ASSISTANT_BASE_URL=
SELECTION_ASSISTANT_MODEL=qwen3.5
SELECTION_ASSISTANT_PROMPT_PATH=
SELECTION_ASSISTANT_LOG_PATH=./tmp/selection-assistant-log.jsonl
SELECTION_ASSISTANT_REQUEST_TIMEOUT_MS=60000
